 

<div class="row" >
	<div class="col-3">
		{% if month == nextmonth_today %}
		<a href="../{{previous_month}}/{{tday}}">
		<i class="fas fa-arrow-circle-left arrow" style=" display: absolute; font-size: 40px ;color:teal; margin-left:0;"></i>
		</a>
		{% elif month != month_today %}
		<a href="../{{previous_month}}/1">
		<i class="fas fa-arrow-circle-left arrow" style=" display: absolute; font-size: 40px ;color:teal; margin-left:0;"></i>
		</a>
		{% endif %}
	</div>
	<div class="col-6">
		<h1  style="color: teal;">
		{{month}}/{{year}}
		</h1>
	</div>
	<div class="col-3">
		{% if month != "12" %}
		<a  href="../{{nextmonth}}/1">
		<i class="fas fa-arrow-circle-right arrow" style="font-size: 40px ;color:teal;"></i>
		</a>
		{% endif %}

	</div>
</div>
<div class="grid-container" id="calendar">

  <div class="grid-item">Mo</div>
  <div class="grid-item">Tu</div>
  <div class="grid-item">We</div>
  <div class="grid-item">Th</div>
  <div class="grid-item">Fr</div>
  <div class="grid-item">Sa</div>
  <div class="grid-item">Su</div>

{% for dey in month_days %}
	
	{% if dey == 0 %} 
	<div class="grid-item">
		
		</div>
	{% elif dey < tday and month == month_today %}
		<div class="grid-item" style="color: grey; ">
		{{dey}}
		</div>
	{% elif dey == day %}
	<div class="grid-item" style="background-color:teal" >
		<a href="{{dey}}"><mark  style="background-color: teal; border-radius: 10px">{{dey}}</a>
		</div>
	{% else %}
	<a style="color:black; ;" href="{{dey}}">
		<div class="grid-item" >
		{{dey}}
		</div>
		</a>
	{% endif %}


{% endfor %}

  
</div>




