



<style type="text/css">/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio]:checked + h3 {

  background-color: #F93834;
  border-color: #F93834;
  color:white;}


</style>
<div class="container">

	<div id = "d8"style="margin: auto;  width: 100%;">


	
			<div style="text-align: center;">





						
				<h1  style="color: teal">{{monthname}} {{day}}
					{% if day == 1 or day == 21 or day == 31 %}
				 <sup>st</sup> 
				 {% elif day == 2 or day == 22  %}
				 <sup>nd</sup> 
				 {% elif day == 3 or day == 23  %}
				 <sup>rd</sup> 
				 {% else %}
				 <sup>th</sup> 
				 {% endif %}
				</h1>



	
			</div>

	


<form  id = "schedform" action="" method="POST">
	
					{% csrf_token %}
					
			
			
	{% for slot, value in slots.items %}
		{% if slot in dborders or slot in dbcarts%}
		<div class="schediv" >
		<button class=" btn-secondary slots schedbtn">{{value}}</button>
	</div>

			{% else %}
		<div class="schediv" >
		<label style="margin:auto;width: 100%">
		 <input type="radio" name="slot" value={{slot}} >
		<h3 style="display: block; margin-left:auto; margin-right:auto; margin-bottom: 15px;" id="slot" class="btn  btn-outline-dark slots" >{{value}}</h3>

	</label>
</div>

	
		{% endif %}
	{% endfor %}
	
		

	

	<input  id="frm1_submit" type="submit" value="Schedule" class=" btn-info">

	
</form>
<br>

	


   

</div>
</div>